@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro|Satisfy');

/* GLOBAL */

.container-fluid {
    padding: 0;
    margin: 0;
}

.wrap {
    min-height: 100vh;
}

/* NAV Section */

.nav li a:hover , .navbar-default {
    background-color: #ececec;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #5f6366;
    background-color: rgba(17, 17, 17, .2);
    border-radius: 20px;
    margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
    color: #5f6366;
    border-radius: 20px;
    margin-top: 10px;
}

.navbar-default .navbar-nav li a:hover, 
.navvbar-default .navbar-nav li a:focus {
    color: #f3d250;
    background-color: rgba(17, 17, 17, .2);
}

nav.navbar {
    position: absolute;
    height: 75px;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-brand > img {
    margin-top: -12px;
    height: 70px;
    width: 70px;
    margin-left: 15px;
}

/* JUMBOTRON SECTION */

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.jumbotron h1 {
    font-family: 'Satisfy', cursive;
    color: #ececec;
    text-align: right;
    margin-top: 300px;
    font-size: 3.5em; 
    text-shadow: 1px 1px 3px black;
}

/* ABOUT ME section */

.img-family {
    height: 300px;
    width: 300px;
}

#aboutme h1 {
    font-family: 'Satisfy', cursive;
    color: #f78888;
    text-shadow: 1px 1px 3px black
}

.text-justify {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}